node_modules
.git
.env
dist
yarn-error.log
dist.zip
dist-prod
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist-ssr
*.local
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
website/.yarn/

website/.pnp.cjs

website/.pnp.loader.mjs

website/.next/

extension/prod-packages/

extension/vite.config.mts.timestamp-1722006159943-e702dcd3759.mjs
